<div class="container grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 justify-items-center mb-5">
  <!-- <app-card [title]="'Test'" [description]="'Test Description'" [imageUrl]="'https://images.cdn3.buscalibre.com/fit-in/360x360/75/c6/75c68eb1550f0f207c8e6f05c8f35962.jpg'" [price]="19.99"></app-card>
  <app-card [title]="'Test 4'" [description]="'Test 2'" [imageUrl]="'https://images.cdn3.buscalibre.com/fit-in/360x360/75/c6/75c68eb1550f0f207c8e6f05c8f35962.jpg'" [price]="29.99"></app-card>
  <app-card [title]="'Test 5'" [description]="'Test 3'" [imageUrl]="'https://images.cdn3.buscalibre.com/fit-in/360x360/75/c6/75c68eb1550f0f207c8e6f05c8f35962.jpg'" [price]="19.99"></app-card>
  <app-card [title]="'Test 6'" [description]="'Test 4'" [imageUrl]="'https://images.cdn3.buscalibre.com/fit-in/360x360/75/c6/75c68eb1550f0f207c8e6f05c8f35962.jpg'" [price]="19.99"></app-card> -->

  @for (item of products(); track $index) {
    
    <app-card [name]="item.name" [stock]="item.stock" [image]="item.image" [price]="item.price"></app-card>
  }
</div>