<div
  class="hero min-h-[55vh]"
  style="background-image: url(./img/hero-img.jpg);"
>
  <div class="hero-overlay"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Descubre tu próximo libro favorito</h1>
      <p class="mb-5">
        Explora miles de títulos cuidadosamente seleccionados. Desde bestsellers hasta joyas ocultas. Encuentra el libro perfecto para cada momento.
      </p>
      <button class="btn btn-primary">Explorar catálogo</button>
    </div>
  </div>
</div>